@page "/"

<h1 class="title">Welcome to Job Search Assistant!</h1>

<p class="center-text">This web app helps you store and keep track of all important information concering your job applications.</p>
<br />
<br />
<h3 class="center-text">Please register an account or log in to take part!</h3>